html {
    height: 100%;
    width: 100%;
  }
  /* Estilos para el menú de navegación */
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000; /* Para asegurarse de que siempre esté sobre otros contenidos */
    padding: 10px 0;
}

.navbar ul {
    display: flex;
    justify-content: space-between; /* Espaciado igual entre los elementos */
    list-style: none;
    width: 60%; /* Ajusta el ancho total de la barra de navegación */
    margin: 0 auto; /* Centra el menú en la página */
    padding: 0;
}

.navbar li {
    width: 33%; /* Cada elemento ocupa un 33% del espacio */
    text-align: center; /* Centra los enlaces dentro de cada <li> */
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px 20px;
}

.navbar a:hover {
    background-color: #575757;
}